body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.language-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  width: 150px;
  aspect-ratio: 1/1;
  font-size: 30px;
  border: 1px solid #333;
  border-radius: 10px;
  background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
  color: #333;
  cursor: pointer;
}

.language-box[data-selected="true"] {
  background: linear-gradient(135deg, #3ade44 0%, #c2e9fb 100%);
}

#stopButton {
  background-color: #f00;
  color: #fff;
  border-radius: 5px;
  font-size: large;
  padding: 10px 30px;
}